* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Alegreya Sans SC', sans-serif;
}

html {
	scroll-behavior: smooth;
}



/* nav */
.navbar {
	background-image: linear-gradient(gray, black, gray);	
}

#brand-image {
	height: 35px;
}


.nav-link {
	font-family: 'Work Sans', sans-serif;
}
 
h3 {
	margin-top: 30px;
}



/* landing section */
#landing {
	background-image:
		url(https://images.pexels.com/photos/1937700/pexels-photo-1937700.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

.lead {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#intro {
	font-family: 'Open Sans', sans-serif;
}

#viewPort {
	font-family: 'Work Sans', sans-serif;
}



/* skills */
#skills {	
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card-body {
	background-color: lightyellow;
}



/* portfolio */
#portfolio {
	background:
		url(https://cdn.pixabay.com/photo/2015/12/08/00/30/ocean-1081783_960_720.jpg);
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

.card-title {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}

.card-body {
	margin-top: 0;
	padding-top: 0;
}

.card-text {
	font-family: 'Open Sans', sans-serif;
}

.btn {
	font-family: 'Work Sans', sans-serif;
}



/* google map */
iframe {
	display: block;
	width: 100%;
	height: 60vh;
	padding-bottom: 10%;

}



/* contact */
#contact {	
	background-repeat: repeat;
	background-size: cover;
	background-attachment: fixed;
}

.form-control {
	font-family: 'Open Sans', sans-serif;
}


/* social */
.fab, .far {
	color: lightgray;
}


/* modal */
.modal-body {
	margin: 0;
	padding: 0; 
}



/* footer */
.footer {
	background-image: linear-gradient(gray, black, gray);	
	font-family: 'Open Sans', sans-serif;
}